@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;
@use '../abstracts/breakpoints' as bp;
@use '../abstracts/placeholders';

#topbar-wrapper {
  height: v.$topbar-height;
  background-color: var(--topbar-bg);
  padding-bottom: 0.3rem;

  @include bp.lt(bp.get(lg)) {
    @include mx.slide(top 0.2s ease);

    left: 0;
  }
}

#mode-toggle {
      margin-right: 1.3rem;
    }

#topbar {
  @extend %btn-color;

  padding-top: 0.1rem;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid var(--sidebar-border-color);
  border-radius: 100px;

  #breadcrumb {
    font-size: 1rem;
    color: var(--text-muted-color);
    padding-left: 0.5rem;

    a:hover {
      @extend %link-hover;
    }

    span {
      &:not(:last-child) {
        &::after {
          content: '›';
          padding: 0 0.3rem;
        }
      }
    }

    @include bp.lt(bp.get(lg)) {
      display: none;
    }

    @include bp.between(bp.get(lg), calc(#{bp.get(xl)} - 1px)) {
      width: 65%;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: keep-all;
      white-space: nowrap;
    }
  }

  @include bp.lte(bp.get(md)) {
    @include mx.max-w-100;

    border-radius: 0px;
    border-bottom: 1px solid var(--sidebar-border-color);
  }

  @include bp.lt(bp.get(lg)) {
    max-width: 100%;
  }
}

#topbar-title {
  display: none;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: sans-serif;
  color: var(--topbar-text-color);
  text-align: center;
  width: 70%;
  word-break: keep-all;

  @include bp.lt(bp.get(lg)) {
    display: block;
  }

  @include bp.lg {
    text-align: left;
  }
}

#sidebar-trigger,
#search-trigger {
  display: none;

  @include bp.lt(bp.get(lg)) {
    display: block;
  }
}


.toggle-btn {
  position: relative;
  width: 50px;
  height: 1.9rem;
  background-color: #333;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  transition: background 0.4s;
  padding: 0;

  @media (min-width: 849px) and (max-width: 990px) {
      width: 70px;
  }

  @media (min-width: 990px) and (max-width: 1100px) {
      width: 60px;
    }
}

.toggle-btn:hover {
  background-color: #555;
}

.toggle-circle {
  position: absolute;
  top: 0.2rem;
  left: 0.3rem;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  color: var(--card-header-bg);
  border-radius: 50%;
  transition: transform 0.4s ease; /* smooth sliding */
  font-size: 1rem;
}

.toggle-btn.active .toggle-circle {
  transform: translateX(15px); /* moves to the right */
  background: white;
}

.toggle-btn.active {
  background-color: #ccc;
}

.toggle-btn.active:hover {
  background-color: #797979;
}
